<h2>SUCCESS!</h2>
<p><b>(You have been successfully authenticated.)</b></p>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<h2>Logged in users</h2>

<% @tokens.each do |token| %>
  <% token.info = JSON.parse(token.info) %>
  <p><%=link_to(token.provider+"/" + (token.info['user'] || token.info['email']), '/'+token.provider+"/"+token.id.to_s)%></p>
<% end %>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
